.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.calculator {
    border: solid 3px black;
    border-radius: 5px;
    padding: 10px;
}

.display {
    border: solid 3px black;
    border-radius: 5px;
    padding: 55px 10px;
    margin-bottom: 10px;
}

button {
    text-align: center;
    padding: 20px 30px;
    margin: 5px;
    font-size: 20px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.first-row {
    grid-column: span 2;
  }